{% extends 'students/students_base.html' %}
{% load static %}
{% block body_block %}
<link rel='stylesheet'href={% static 'wlx.css'%}>


<h1>Exam Registration<br>
<div class='containe'>
  <h4>
  <form action={% url 'students_app:register'%} method='POST'>
    <div class='container'>
    {% csrf_token %}
    <br>
    <input type='text'name='id'placeholder='SITTING id'class='for'></input>
    <b ><input type='submit'name='submit'value='Register'class='log'></b>
  </form>
</div>




{% endblock %}
