<html>
{% load static %}
<link rel='stylesheet'href={% static 'nav.css'%}>
<head>
<title>
{% block title_html %}{% endblock %}

</title>
<link rel='stylesheet'href={% static 'css/style.css'%}>
<link rel='stylesheet'href={% static 'bs/css/bootstrap.css'%}>
</head>
<body>
  <nav class ='Container'>
      <div class='Contain'>
        <ul class='nav navbar-header'>
          <button class='bt'> <b class='idat'>IDAT</b> </button>
          <a class='navbar'href='{%url 'index'%}'>Home</a>
          <a class='navbar'href='{%url 'students_app:register'%}'>Register</a>
          <a class='navbar'href='{%url 'students_app:mysittings' %}'>MySittings</a>
          <a class='navbar'href=''>Help</a>

          {% if user.is_authenticated %}<img src={{user.profile_pic.jpg}} alt='ohh noo its john cena '/>
            <a class='navbar-'href='{% url 'accounts_app:user_logout'%}'>Hello:{{user.username}} Logout</a>
          {% else %}<img src={% static 'images/img1.jpg'%}alt='login'/>
            <a class='navbar-'href='{% url 'accounts_app:user_login'%}'>Login</a>
          {% endif %}

        </ul>
      </div>
    </nav>
<h1>
 {% block body_block %}{% endblock %}
</h1>
<article>
{% block article_content %}{% endblock %}
<hr><h3>Copyright AI Invigilator 2023</h3><hr>
</article>
</body>
</html>
