{% extends 'base.html' %}
{% load static %}
{% block body_block %}

<div class="container">
  <!-- <img src={% static 'images/img1.jpg'%} alt='ohh noo its john cena'/> -->
  <h1>Please Login</h1>


  <img src={% static 'images/img1.jpg'%}alt='login'/>
  <form action={% url 'accounts_app:user_login'%} method='POST'>
    <div class='container'>
    {% csrf_token %}
    <label for='username'>Username:</label>
    <input type='text'name='username'placeholder='enter username'class='form-control'></input>
    <label for='password'>Password:</label>
    <input type='password'name='password'placeholder='enter password'class='form-control'></input>
    </div>
    <input type='submit'name='submit'value='Login'align='center'>
  </form>
</div>
{% endblock %}
