{% extends 'base.html' %}
{% load static %}
{% block body_block %}
<link rel='stylesheet'href={% static 'wlx.css'%}>
<div class="containe">
  <!-- <img src={% static 'images/img1.jpg'%} alt='ohh noo its john cena'/> -->
  <h4>Please Login</h4>

   <b class='ida'>
  <img src={% static 'images/img1.jpg'%}alt='login'/>
  <form action={% url 'accounts_app:user_login'%} method='POST'>
    <div class='container'>
    {% csrf_token %}
    <label for='username'>Username:</label>
    <input type='text'name='username'placeholder='enter username'class='form-control'></input>
    <br><br>
    <label for='password'>Password:</label>
    <input type='password'name='password'placeholder='enter password'class='form-control'></input>
    </div>  <br>
    
    <input type='submit'name='submit'value='Login'align='center' class='log'>
  </form>
</b> 

</div>
{% endblock %}
