<html>
{% load static %}
<link rel='stylesheet'href={% static 'nav.css'%}>
 <script src="{% static 'script.js' %}"></script>
 

 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

<head>
<title>
{% block title_html %}{% endblock %}
</title>

</head>
<body>
  <nav class ='Container'> 
    
      <div class='container'>
         
          
          
        <ul class='navbar-header'>
           <button class='bt'> <b class='idat'>IDAT</b> </button>
          <a class='navbar'href='{%url 'index'%}'>Home</a>
          <a class='navbar'href='{%url 'students_app:register'%}'>Students</a>
          <a class='navbar'href=''>About</a>
          <a class='navbar'href=''>Help</a>
          <a class='navbar'href=''>Feedback</a>

          {% if user.is_authenticated %}<img  src={{user.profile_pic.jpg}} alt='ohh noo its john cena '/>
        <a class='navbar-'href='{% url 'accounts_app:user_logout'%}'>Hello:{{user.username}} Logout</a>
          {% else %}<img src={% static 'images/img1.jpg'%}alt='login'/>
        <a class='navbar-'href='{% url 'accounts_app:user_login'%}'>Login</a>
          {% endif %}

          

            </ul>
          </div>
        </ul>
      </div>
    </nav>
<h1>
 {% block body_block %}{% endblock %}
</h1>
<article>
{% block article_content %}{% endblock %}
<hr><h3>Copyright AI Invigilator 2023</h3><hr>
</article>
</body>
</html>
