<html>
{% load static %}
<link rel='stylesheet'href={% static 'nav.css'%}>
 <script src="{% static 'script.js' %}"></script>
<head>
<title>
{% block title_html %}{% endblock %}
</title>

</head>
<body>
  <nav class ='Container'>
      <div class='container'>
          
        <ul class='nav navbar-header'>
            
          <li><a class='navbar'href='{%url 'index'%}'>Home</a></li>
          <li><a class='navbar-brand'href='{%url 'students_app:register'%}'>Students</a></li>
          <li><a class='navbar-brand'href=''>About</a></li>
          <li><a class='navbar-brand'href=''>Help</a></li>
          <li><a class='navbar-brand'href=''>Feedback</a></li>

          {% if user.is_authenticated %}<img src={{user.profile_pic.jpg}} alt='ohh noo its john cena '/>
            <li><a class='navbar-link'href='{% url 'accounts_app:user_logout'%}'>Hello:{{user.username}} Logout</a></li>
          {% else %}<img src={% static 'images/img1.jpg'%}alt='login'/>
            <li><a class='navbar-link'href='{% url 'accounts_app:user_login'%}'>Login</a></li>
          {% endif %}

        </ul>
      </div>
    </nav>
<h1>
 {% block body_block %}{% endblock %}
</h1>
<article>
{% block article_content %}{% endblock %}
<hr><h3>Copyright AI Invigilator 2023</h3><hr>
</article>
</body>
</html>
