{% extends 'base.html' %}
{% load static %}
{% block body_block %}

<link rel='stylesheet'href={% static 'wlx.css'%}>
<div class='bod'>
<h1>WELCOME!</h1>
<div class='card'>

  {% if user.is_authenticated %}
    <h3>WELCOME back :{{user.username}} </h3>

  {% else %}
    <br>
    <h3> If you are New 
    <b class='idat'>  <div class="dropdown">
              <button class='log'><b class='ida'>Register</b></button>
              
              <div class="dropdown-content">
                <a class='cards'href='{% url 'accounts_app:registerlecturer'%}'>Lecturer</a>
                <br><a class='cards'href='{% url 'accounts_app:registerstudent'%}'>Student</a>
                
              </div>
            </div>
          
          </a><br><br></b> 

        


  </h3>


  


  {% endif %}

</div>
{% if user.is_athenticated %}
{% if lecturers %}
{{insert_me}}
{{lecturers}}

<div class='container'><h1>Lecturers Menu</h1>
<h3><li><a class='navbar-brand'href='{% url 'sittings_app:index' %}'>SITTINGS</a></li>
<h3><li><a class='navbar-brand'href='{% url 'exams_app:index' %}'>EXAM</a></li>
<li><a class='navbar-brand'href='{% url 'groups_app:index' %}'>GROUPS</a></li></h3>
</div>
{% endif %}
{{insert_me}}
{{lecturers}}

<div class='card'>

    <h3><a href='{% url 'registergroup'%}'>Register Your Relevant Group!</a><br> </h3>
{{usertype}}

</div>

</div>


{% endif %}
{% endblock %}
