<html>
{% load static %}
<head>
<title>
{% block title_html %}{% endblock %}
</title>
<link rel='stylesheet'href={% static 'css/style.css'%}>
<link rel='stylesheet'href={% static 'nav.css'%}>
<link rel='stylesheet'href={% static 'bs/css/bootstrap.css'%}>
</head>
<body>
  <nav class ='Container'>
      <div class='container'>

        <div>
          <img class='imag' src={% static 'images/f.jpg'%} alt='img3'/>
        </div>
        <ul class='nav navbar-header'>

          <a class='navbar'href='{%url 'index'%}'>Home</a>
            <a class='navbar'href='{%url 'questionbank_app:index'%}'>QuestionBank</a>
            
          <a class='navbar'href='{%url 'students_app:register'%}'>Exams</a>
          <a class='navbar'href=''>Results</a>
          <a class='navbar'href=''>MyAccount</a>
          <a class='navbar'href=''>Feedback</a>
          
          {% if user.is_authenticated %}<img class='img' src={{user.profile_pic.jpg}} alt='ohh noo its john cena '/>
            <a class='logs'href='{% url 'accounts_app:user_logout'%}'>Hello:{{user.username}} Logout</a>
          {% else %}<img src={% static 'images/img1.jpg'%}alt='login'/>
            <a class='logs'href='{% url 'accounts_app:user_login'%}'>Login</a>
          {% endif %}

        </ul>
      </div>
    </nav>
<h1>
 {% block body_block %}{% endblock %}
</h1>
<article>
{% block article_content %}{% endblock %}
<hr><h3>Copyright AI Invigilator 2023</h3><hr>
</article>
</body>
</html>
